<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>f4814n.de - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css">
</head>

<body>
    <h1><a href="/" class="title">f4814n.de</a></h1>

    <div class="header-list">
        <div class="header-link"> <a href="/">Home</a> </div>
        <div class="header-link"> <a href="/about.html">About Me</a> </div>
        <div class="header-link"> <a href="/blog.html">Blog</a> </div>
        <div class="header-link"> <a href="/contact.html">Contact</a> </div>
    </div>

    <h2>
        <a href=$url$ class="title">$title$</a>
    </h2>

    $body$

    <hr>
    <footer>
        <a href="/imprint.html">Imprint</a>
        <div style="float:right">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
            </a>
        </div>
    </footer>
</body>
